* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'norse';
  src: url(fonts/norse-webfont.woff), url(fonts/norse-webfont.woff2);
}

body {
  display: flex;
}

.img-container {
  width: 35vw;
  height: 100vh;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 25%;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-container img {
  height: 80%;
  width: auto;
}

.logo-title {
  color: #fff;
  font-family: 'norse', sans-serif;
  font-size: 10vw;
}

.credits {
  font-family: sans-serif;
  font-size: 1vw;
  color: white;
  text-align: center;
  position: relative;
  top: 75%;
}

a {
  color: white;
}

a:hover {
  opacity: 0.5;
}

.form-container {
  width: 65vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.form-header {
  padding: 25px 75px 25px 25px;
  background-color: #f4f4f4;
  font-weight: 700;
}

h2 {
  padding: 20px 20px 0 40px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  box-shadow: 3px 3px 3px #8888;
}

label {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5ch;
}

label:focus-within {
  color: blue;
  font-weight: 900;
}

input {
  max-width: 200px;
  height: 30px;
  padding: 10px;
}

.form-input:focus {
  background-color: #a4dded;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

form > div {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  height: 100px;
  padding: 20px 0 0 40px;
  flex-direction: column;
  justify-content: space-around;
}

#btn-submit {
  width: 160px;
  height: 40px;
  font-weight: 700;
  color: #fff;
  background-color: #596d48;
  text-align: center;
  border: none;
  border-radius: 12px;
}

#btn-submit:hover {
  opacity: 0.5;
}

h5 a {
  color: #596d48;
  text-decoration: none;
}

h5 a:hover {
  opacity: 0.5;
}
